<html>
    <head>
        <title>Profile Page</title>
    </head>
    <body>
        <h1>People born in 1955</h1>
        <% person.forEach(function(person){ %>
        <h3><%= person.name %> was born in 1955</h3>
        <% }) %>
    </body>
</html>
