<!-- page to be displayed on: http://localhost:8000 -->
<!--Lead Inspection App-->
<!DOCTYPE html>
<html>
<head>
	<title>Login and Registration</title>
	<style type='text/css'>
		.left, .right{
			width:45%;
			display:inline-block;
			vertical-align: top;
			border:2px solid black;
		}
		label{
			display:block;
			margin:2px;
		}
		input{
			float:right;
		}
	</style>
</head>
<body>
    <h1>Welcome!</h1>
    <div class='left'>
    	<h1>Register</h1>
	    <form action='/register' method="post">
			<label>First Name:
				<input type='text' name='first_name'>
			</label>
			<label>Last Name:
				<input type='text' name='last_name'>
			</label>
			<label>Email:
				<input type='text' name='email'>
			</label>
			<label>Password:
				<input type='text' name='password'>
			</label>
			<label>Confirm Password:
				<input type='text' name='confirm_password'>
			</label>
			<label>Date of Birth:
				<input type='date' name='dob'>
			</label>
			<input type='submit' value='Register'>
		</form>
    </div>
    <div class='right'>
    	<h1>Login</h1>
        <form action='login' method="POST">
            <label>Email Address
                <input type="text" name='email' value="">
            </label>
            <label>Password
                <input type="text" name="password">
            </label>
            <input type="submit" value="Login">
        </form>
    </div>
    </body>
</html>